@media (max-width: 1024px) {
	.modal
	{
		&.show
		{
			height   : 100%;
			left     : 0;
			top      : 0;
			transform: inherit;
			width    : 100%;
		}
	}
	.form-submit
	{
		white-space: normal;
	}
	.copyright
	{
		display: none;
	}
}
@media (max-width: 768px) {
	.modal-header
	{
		span
		{
			font-size: 26px;
		}
	}
	.modal-body-header
	{
		line-height: 1.3;
	}
}