$font-default          : 'Open Sans', sans-serif;

// Colors
$color-border-default  : #e1e1e1;
$color-font            : #293041;
$color-font-btn        : #fff;
$color-font-form       : #859bbb;
$color-font-placeholder: #a6bedc;
$color-font-secondary  : #fff;
$color-separator       : #d9e7f7;